In [10]:
import mlflow
import pandas as pd
from mlflow import MlflowClient

In [3]:
REMOTE_TRACKING_URI = "http://ec2-44-217-145-52.compute-1.amazonaws.com:5000"
experiment_name = "test"
mlflow.set_tracking_uri(REMOTE_TRACKING_URI)

experiment = mlflow.get_experiment_by_name(experiment_name)
mlflow.set_experiment(experiment_id=experiment.experiment_id)

In [6]:
with mlflow.start_run() as run1:
    mlflow.set_tag("mlflow.runName", "run1")
    mlflow.log_param("param1", 1)
    mlflow.log_metric("metric1", 2)

with mlflow.start_run() as run2:
    mlflow.set_tag("mlflow.runName", "run2")
    mlflow.log_param("param1", 2)
    mlflow.log_metric("metric1", 3)

with mlflow.start_run() as run3:
    mlflow.set_tag("mlflow.runName", "run3")
    mlflow.log_param("param1", 3)
    mlflow.log_metric("metric1", 4)

2024/11/17 05:25:20 INFO mlflow.tracking._tracking_service.client: üèÉ View run run1 at: http://ec2-44-217-145-52.compute-1.amazonaws.com:5000/#/experiments/2/runs/3b8acc3e6dbe46968f73a4786a1c58dc.
2024/11/17 05:25:20 INFO mlflow.tracking._tracking_service.client: üß™ View experiment at: http://ec2-44-217-145-52.compute-1.amazonaws.com:5000/#/experiments/2.
2024/11/17 05:25:22 INFO mlflow.tracking._tracking_service.client: üèÉ View run run2 at: http://ec2-44-217-145-52.compute-1.amazonaws.com:5000/#/experiments/2/runs/114b6ff740b04614a68bd29c6ad4d2b5.
2024/11/17 05:25:22 INFO mlflow.tracking._tracking_service.client: üß™ View experiment at: http://ec2-44-217-145-52.compute-1.amazonaws.com:5000/#/experiments/2.
2024/11/17 05:25:24 INFO mlflow.tracking._tracking_service.client: üèÉ View run run3 at: http://ec2-44-217-145-52.compute-1.amazonaws.com:5000/#/experiments/2/runs/679b1b13b6434ad6a60a3bfbe88e3482.
2024/11/17 05:25:24 INFO mlflow.tracking._tracking_service.client: üß™ View experiment at: http://ec2-44-217-145-52.compute-1.amazonaws.com:5000/#/experiments/2.

In [ ]:
with mlflow.start_run() as run_parent:
    mlflow.set_tag("mlflow.runName", "run_parent")

In [12]:
client = MlflowClient(REMOTE_TRACKING_URI)

In [14]:
client.set_tag(run1.info.run_id, "mlflow.parentRunId", run_parent.info.run_id)
client.set_tag(run2.info.run_id, "mlflow.parentRunId", run_parent.info.run_id)
client.set_tag(run3.info.run_id, "mlflow.parentRunId", run_parent.info.run_id)

In [ ]:
from cate.model.dataset import Dataset, sample
from cate.model.metrics import Artifacts, Metrics
from cate.utils import Timer, get_logger, path_linker

In [ ]:
dataset_name = "criteo"
pathlinker = path_linker(dataset_name)

In [ ]:
ds = sample(Dataset.load(pathlinker.base), frac=0.1, random_state=42)

In [ ]:
base_df = pd.merge(
    ds.y.rename(columns={ds.y_columns[0]: "y"}),
    ds.w.rename(columns={ds.w_columns[0]: "w"}),
    left_index=True,
    right_index=True,
)

In [ ]:
base_df

          y  w
6540047   0  0
12657168  0  1
9588964   0  1
4905360   0  1
7937047   0  1
...      .. ..
5546691   0  1
8198879   0  1
9484578   0  1
1720671   0  1
5949006   0  0

[1397959 rows x 2 columns]