In [3]:
from tempfile import TemporaryDirectory

import mlflow
import mlflow.artifacts
import pandas as pd

In [4]:
run_ids = ["d082f672159c41a98d8c311a5ffd2575", "4956d1117f624dbb9be3131423e31e8f"]

In [5]:
REMOTE_TRACKING_URI = "http://ec2-44-217-145-52.compute-1.amazonaws.com:5000"
mlflow.set_tracking_uri(REMOTE_TRACKING_URI)

In [6]:
dfs = []
with TemporaryDirectory() as tmp_dir:
    for run_id in run_ids:
        mlflow.artifacts.download_artifacts(run_id=run_id, artifact_path="outputs.json", dst_path=tmp_dir)
        df = pd.read_json(f"{tmp_dir}/outputs.json")
        dfs.append(df)

/workspace/.venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Downloading artifacts: 100%|██████████| 1/1 [00:00<00:00,  4.04it/s]
Downloading artifacts: 100%|██████████| 1/1 [00:00<00:00,  2.60it/s]

In [7]:
dfs[0]

           pred  conversion  group
0      0.001368           0      0
1     -0.000081           0      0
2      0.000316           0      0
3      0.002981           0      0
4     -0.000366           0      0
...         ...         ...    ...
99995  0.001368           0      1
99996 -0.000081           0      1
99997  0.003137           0      1
99998  0.000242           0      1
99999 -0.000366           0      1

[100000 rows x 3 columns]

In [8]:
dfs[1]

           pred  conversion  group
0      0.002315           0      0
1      0.000109           0      0
2      0.000092           0      0
3      0.000746           0      0
4      0.000003           0      0
...         ...         ...    ...
99995  0.000893           0      1
99996  0.000109           0      1
99997  0.000149           0      1
99998  0.000073           0      1
99999  0.001116           0      1

[100000 rows x 3 columns]

In [9]:
import numpy as np

np.arange(0, 1, 0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])