In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/workspace/data/lenta/lenta.csv")

In [6]:
df

,Unnamed: 0,age,cheque_count_12m_g20,cheque_count_12m_g21,cheque_count_12m_g25,cheque_count_12m_g32,cheque_count_12m_g33,cheque_count_12m_g38,cheque_count_12m_g39,cheque_count_12m_g41,...,sale_sum_6m_g26,sale_sum_6m_g32,sale_sum_6m_g33,sale_sum_6m_g44,sale_sum_6m_g54,stdev_days_between_visits_15d,stdev_discount_depth_15d,stdev_discount_depth_1m,response_att,group
0,0,47.0,3.0,22.0,19.0,3.0,28.0,8.0,7.0,6.0,...,237.25,283.84,3648.23,1195.37,535.42,1.7078,0.2798,0.3008,0,test
1,1,57.0,1.0,0.0,2.0,1.0,1.0,1.0,0.0,1.0,...,58.71,87.01,179.83,0.00,122.98,0.0000,0.0000,0.0000,0,test
2,2,38.0,7.0,0.0,15.0,4.0,9.0,5.0,9.0,14.0,...,83.37,593.13,1217.43,1336.83,3709.82,0.0000,NaN,0.0803,0,control
3,3,65.0,6.0,3.0,25.0,2.0,10.0,14.0,11.0,8.0,...,360.40,175.73,496.73,172.58,1246.21,0.0000,0.0000,0.0000,0,test
4,4,61.0,0.0,1.0,2.0,0.0,2.0,1.0,0.0,3.0,...,461.37,0.00,237.93,225.51,995.27,1.4142,0.3495,0.3495,0,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687024,687024,35.0,0.0,0.0,4.0,0.0,2.0,0.0,1.0,0.0,...,111.87,0.00,330.96,1173.84,119.99,2.6458,0.3646,0.3282,0,control
687025,687025,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,28.01,0.0000,0.0000,0.0000,0,test
687026,687026,36.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,...,0.00,0.00,0.00,449.01,0.00,0.0000,NaN,NaN,0,control
687027,687027,37.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0000,NaN,NaN,0,control
687028,687028,40.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,2.0,...,0.00,0.00,228.47,752.32,596.86,0.0000,0.0000,0.0000,0,test

In [8]:
df.value_counts("group")

group
test       515892
control    171137
Name: count, dtype: int64

In [9]:
df.value_counts("response_att")

response_att
0    612661
1     74368
Name: count, dtype: int64

In [10]:
treatment_flg = df["group"] == "test"
(
    df.loc[treatment_flg, "response_att"].mean()
    - df.loc[~treatment_flg, "response_att"].mean()
)

0.0075471269267721325