In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/workspace/data/uplift-modeling/criteo-uplift-v2.1.csv")

In [ ]:
df.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,conversion,visit,exposure
0,12.616365,10.059654,8.976429,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
1,12.616365,10.059654,9.002689,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
2,12.616365,10.059654,8.964775,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
3,12.616365,10.059654,9.002801,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
4,12.616365,10.059654,9.037999,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0

In [4]:
targets = ["treatment", "conversion", "visit", "exposure"]
counts = {}
for target in targets:
    counts[target] = df.value_counts(target)

In [5]:
pd.DataFrame(counts)

   treatment  conversion     visit  exposure
0    2096937    13938818  13322663  13551380
1   11882655       40774    656929    428212

In [10]:
treatment_flg = df["treatment"] == 1
df.loc[treatment_flg, "conversion"].mean() - df.loc[~treatment_flg, "conversion"].mean()

np.float64(0.0011518730521316279)

In [14]:
treatment_flg = df["exposure"] == 1
df.loc[treatment_flg, "conversion"].mean() - df.loc[~treatment_flg, "conversion"].mean()

np.float64(0.05247479379024179)