In [2]:
from cate.model.dataset import Dataset, concat, filter, sample, split, to_rank
from cate.utils import get_logger, path_linker

In [3]:
link = path_linker("test")

In [7]:
ds = Dataset.load(link.base)

In [13]:
df = ds.to_pandas()

In [17]:
tg_flg = df["treatment"] == 1
df.loc[tg_flg].loc[:, ["conversion", "treatment"]].describe()

         conversion  treatment
count  85037.000000    85037.0
mean       0.003328        1.0
std        0.057593        0.0
min        0.000000        1.0
25%        0.000000        1.0
50%        0.000000        1.0
75%        0.000000        1.0
max        1.000000        1.0