In [27]:
from sklift.datasets.datasets import (
    fetch_megafon
)
import pandas as pd
import numpy as np

In [36]:
ds = fetch_megafon()

In [37]:
df = pd.merge(ds.data, ds.target, left_index=True, right_index=True)
df = pd.merge(df, ds.treatment, left_index=True, right_index=True)

In [38]:
df

,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,...,X_43,X_44,X_45,X_46,X_47,X_48,X_49,X_50,conversion,treatment_group
0,39.396577,-0.186548,19.524505,21.250208,55.291264,182.966712,-5.385606,144.573379,-12.534344,-58.279429,...,-213.584582,-2.092461,-93.973258,-0.155597,-312.130733,44.798182,-125.682413,16.231365,0,control
1,38.987694,0.819522,-42.064512,-48.270949,-33.171257,179.459341,-87.151810,-162.693257,20.651652,181.635081,...,559.783584,1.142391,80.037124,-1.216185,-111.473936,-127.737977,-117.501171,10.732234,0,control
2,-16.693093,1.844558,-8.615192,-18.818740,-22.271188,-116.290369,-63.816746,-38.340763,24.968496,-136.340629,...,96.998504,1.100962,-33.275159,0.920926,-679.492242,-91.009397,-18.173358,14.367636,0,treatment
3,-72.040154,-0.226921,39.802607,16.441262,-1.112509,68.128008,23.073147,4.688858,-49.383641,-91.866107,...,-323.642557,-0.369182,93.221948,-1.962380,-442.466684,-22.298302,-75.916603,11.634299,0,treatment
4,18.296973,0.996437,24.465307,-34.151971,24.623458,-155.455558,-12.159787,26.705778,105.864805,258.607252,...,118.902324,-0.808578,-117.497906,1.770635,627.395611,122.019189,194.091195,-11.883858,0,treatment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,33.031482,0.584463,-25.546737,-35.129322,6.603716,-90.384229,-44.399223,71.343628,26.439937,125.557722,...,531.793092,-2.307605,-48.648490,0.763070,152.501250,-49.190995,149.292732,-15.031430,0,treatment
599996,-24.469552,1.175070,35.936859,19.577711,81.505532,-164.141125,-8.221423,38.864814,-2.410108,71.748724,...,-230.298393,0.267790,-56.102467,-1.007702,-69.854583,187.924882,109.642972,25.022399,0,treatment
599997,-57.592800,1.033326,-20.608920,87.116236,-27.894756,120.864975,40.592090,-34.134983,-26.821810,-236.479871,...,299.211339,-0.930181,168.767350,-0.004762,-249.073528,-265.077308,-110.317964,-11.892925,0,treatment
599998,-16.371510,-0.876885,-1.483559,32.407631,-57.148865,92.559125,-21.464004,-110.615734,58.100487,-131.522851,...,223.509177,-0.832695,5.545312,0.659149,-156.605507,-41.757924,-89.330302,-22.886739,0,treatment
599999,62.997565,-1.299755,-9.485073,4.682186,64.339233,-14.527508,-113.750106,195.634148,104.627105,-258.377735,...,-231.497127,-0.022551,7.373350,0.213328,-235.624729,39.129831,-47.422068,-21.564626,0,control

In [18]:
def onehot_encoding(df: pd.DataFrame, columns: list[str]) -> pd.DataFrame:
    _df = df.copy()
    for column in columns:
        _df = pd.merge(
            _df.drop(column, axis=1),
            pd.get_dummies(df[column], prefix=column, dtype=int),
            left_index=True,
            right_index=True,
        )
    return _df

In [30]:
def label_encoding(df: pd.DataFrame, columns: list[str]) -> pd.DataFrame:
    _df = df.copy()
    for column in columns:
        _df[column] = _df[column].astype("category").cat.codes
    return _df

In [32]:
label_encoding(df, ["history_segment", "zip_code", "channel"])

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,conversion,segment
0,10,1,142.44,1,0,1,0,1,0,Womens E-Mail
1,6,2,329.08,1,1,0,1,2,0,No E-Mail
2,7,1,180.65,0,1,1,1,2,0,Womens E-Mail
3,9,4,675.83,1,0,0,1,2,0,Mens E-Mail
4,2,0,45.34,1,0,2,0,2,0,Womens E-Mail
...,...,...,...,...,...,...,...,...,...,...
63995,10,1,105.54,1,0,2,0,2,0,Mens E-Mail
63996,5,0,38.91,0,1,2,1,1,0,Mens E-Mail
63997,6,0,29.99,1,0,2,1,1,0,Mens E-Mail
63998,1,4,552.94,1,0,1,1,0,0,Womens E-Mail
63999,1,3,472.82,0,1,1,0,2,0,Mens E-Mail

In [4]:
df.to_csv("/workspace/data/lenta/lenta.csv", index=False)

In [3]:
np.array([0, 0, 1, 1]).mean()

0.5

In [1]:
import pandas as pd
pd.read_csv("/workspace/data/base/criteo/data.csv")

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,conversion,visit,exposure
0,12.616365,10.059654,8.976429,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
1,12.616365,10.059654,9.002689,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
2,12.616365,10.059654,8.964775,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
3,12.616365,10.059654,9.002801,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
4,12.616365,10.059654,9.037999,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979587,26.297764,10.059654,9.006250,4.679882,10.280525,4.115453,-3.282109,4.833815,3.839578,13.190056,5.300375,-0.168679,1,0,0,0
13979588,12.642207,10.679513,8.214383,-1.700105,10.280525,3.013064,-13.955150,6.269026,3.971858,13.190056,5.300375,-0.168679,1,0,0,1
13979589,12.976557,10.059654,8.381868,0.842442,11.029584,4.115453,-8.281971,4.833815,3.779212,23.570168,6.169187,-0.168679,1,0,1,0
13979590,24.805064,10.059654,8.214383,4.679882,10.280525,4.115453,-1.288207,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
13979591,12.616365,10.059654,8.214383,4.679882,10.280525,3.013064,0.294443,9.332563,3.971858,13.190056,5.300375,-0.168679,1,0,0,0